body{
    margin:0px;
}
.encabezado{
    border: 1px solid grey;
    background-color:violet;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
    text-align: center;


}

.main{
    margin: 0 auto;
    width: 90%;
    border: 2px solid gray;
    padding: 20px;
    background-color:navajowhite;

}
h2{
    font-style: italic;
    margin-top: 0px;
    color: white;
}
h3{
    font-size: large;
    font-style: blue;
}
