body{
    margin:0px;
    font-style: italic;

}
.header{
    /* background-color: violet; */
    box-shadow: 0px 10px 10px rgb(24, 23, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 90px;
    width: 100%;
    background-color: rgb(144, 108, 243);
}
.header figure{
    width: 150px;
    height: 80px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}
.encabezado h2{
    color: indigo;
}
.header figure img{
    height: inherit;
}
.encabezado h2{
    color: rgb(14, 55, 240);
}
.menu{
    height: inherit;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0;
    padding: 0;
}
ul li{
    height: inherit;
}
.link{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    color: rgb(247, 246, 250);
    height: inherit;
    font-size: 25px;
}
.encabezado{
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size:15px;



}

.main{
    margin: 0 auto;
    background-color:rgb(252, 237, 213);
    margin: 0px 20px;


}
.main figure{
    margin: 0 auto;
    margin-left: 20%;
}
.container-main-img img{
    width: 600px;

    
}
.main h1{
    margin: 0px;
    color: rgba(11, 148, 125, 0.938);
}
h3{
    color: lawngreen;
}
.footer{
    background-color: rgb(161, 105, 149);
    color: rgb(244, 244, 247);
    height: 70px;
}
.footer  p{
    padding: 20px 0px 0px 0px;
    text-align: center;
    
    
}